[Desktop Entry]
Name=DankVideo
Comment=Fast, beautiful Material 3 Video Player
Exec=dplay %F
Icon=video-player
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;Qt;
MimeType=video/mp4;video/x-matroska;video/webm;video/quicktime;video/x-msvideo;video/x-flv;video/x-ms-wmv;video/ogg;
StartupNotify=true
